@page
@model DeleteModel

@{
	ViewData["Title"] = "Delete";
}

<h3>Delete Opgave</h3>
<hr/>
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<input type="hidden" asp-for="Drt.RowVersion" class="form-control"/>
			<input type="hidden" asp-for="Drt.OpgaveId" class="form-control"/>
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Drt.OpgaveName" class="control-label"></label>
				<input asp-for="Drt.OpgaveName" class="form-control" />
				<span asp-validation-for="Drt.OpgaveName" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<label asp-for="Drt.Beskrivelse" class="control-label"></label>
				<textarea asp-for="Drt.Beskrivelse" class="form-control" rows="3"></textarea>
				<span asp-validation-for="Drt.Beskrivelse" class="text-danger"></span>
			</div>
			<div class="form-group">
				<button id="resolveButton" type="submit" data-opId="@Model.Drt.OpgaveId" class="btn btn-danger btn-lg ">Delete Opgave</button>
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index">Back to List</a>
</div>

@section Scripts {
	<script>
	$(function() {
		{
			var resolveBtn = document.getElementById('resolveButton');
			resolveBtn.addEventListener('click',
				function(e) {
					e.preventDefault();

					var opId = resolveBtn.getAttribute('data-opId');

					$.get(`?handler=resolve&id=${opId}`,
						function() {
							alert(`Opgave ${opId} er slettet`);
							window.location.href = '/Index';
						});
				});
		}
		</script>

	}
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}