@page
@using Unik_OnBoarding.Domain.Model
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Unik_OnBoarding.WebApp.Pages.Opgaver.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h3>OpgaverEntity</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
	        <input type="hidden" asp-for="Urt.RowVersion" class="form-control" />
	        <input type="hidden" asp-for="Urt.OpgaveId" class="form-control" />
	        <div class="form-group">
		        <label asp-for="Urt.OpgaveName" class="control-label"></label>
		        <input asp-for="Urt.OpgaveName" class="form-control" />
		        <span asp-validation-for="Urt.OpgaveName" class="text-danger"></span>
	        </div>
            <br/>
	        <div class="form-group">
		        <label asp-for="Urt.Beskrivelse" class="control-label"></label>
		        <input asp-for="Urt.Beskrivelse" class="form-control" />
		        <span asp-validation-for="Urt.Beskrivelse" class="text-danger"></span>
	        </div>
	        <div class="form-group">
                <input type="submit" value="Update Opgave" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
