@page
@model DeleteModel

@{
	ViewData["Title"] = "Delete";
}

<h2>Delete Kompetencer</h2>
<hr/>
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<input type="hidden" asp-for="Drt.RowVersion" class="form-control"/>
			<input type="hidden" asp-for="Drt.KompetenceId" class="form-control"/>
			<table class="table table-hover">
				<thead>
				<tr>
					<th scope="col">Type</th>
					<th scope="col">Beskrivelse</th>
				</tr>
				</thead>
				<tbody>

				<tr class="table-danger">
					<th scope="row">@Model.Drt.Job</th>
					<th scope="row">@Model.Drt.Beskrivelse</th>
				</tr>

				</tbody>
			</table>
			<div class="form-group">
				<input type="submit" value="Delete Kompetencer" class="btn btn-danger form-control"/>
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}