@page
@using Unik_OnBoarding.Domain.Model
@model CreateModel
@{
}

<h3>Opret Medarbejder</h3>
<hr/>
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
                <label asp-for="Crt.Fornavn" class="control-label"></label>
                <input asp-for="Crt.Fornavn" class="form-control" />
                <span asp-validation-for="Crt.Fornavn" class="text-danger"></span>
			</div>
			<div class="form-group">
                <label asp-for="Crt.Efternavn" class="control-label"></label>
                <input asp-for="Crt.Efternavn" class="form-control" />
                <span asp-validation-for="Crt.Efternavn" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Crt.Email" class="control-label"></label>
				<input asp-for="Crt.Email" class="form-control" />
				<span asp-validation-for="Crt.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
                <label asp-for="Crt.Telefon" class="control-label"></label>
                <input asp-for="Crt.Telefon" class="form-control" />
                <span asp-validation-for="Crt.Telefon" class="text-danger"></span>
			</div>
			<div class="form-group">
                <label asp-for="Crt.Job" class="control-label"></label>
                <select asp-for="Crt.Job"
                        class="form-control" 
				        asp-items="Html.GetEnumSelectList<Jobtitler>()">
					<option>Select type ...</option>
				</select>
                <span asp-validation-for="Crt.Job" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Add Medarbejder" class="btn btn-success form-control"/>
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}