@page
@model DetailsModel
@{
}
<div class="card">
	<h5 class="card-header">@Model.IndexViewModel.Name</h5>
	<div class="card-body">
		<h5 class="card-title">Kunde Info</h5>
		<div>
			<h1>@Model.IndexViewModel.Email</h1>
		</div>

		<a href="#" class="btn btn-primary">Go somewhere</a>
	</div>
</div>