@page
@model Unik_OnBoarding.WebApp.Pages.Admin.EditBookingModel
@{
}
<form method="post">
    <input hidden asp-for="UrtBooking.BookId" />
    <input hidden asp-for="UrtBooking.RowVersion" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Edit Booking</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="UrtBooking.ProjektId"></label>
            <input asp-for="UrtBooking.ProjektId" class="form-control" />
            <span asp-validation-for="UrtBooking.ProjektId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UrtBooking.OpgaveId"></label>
            <input asp-for="UrtBooking.OpgaveId" class="form-control" />
            <span asp-validation-for="UrtBooking.OpgaveId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UrtBooking.MedarbejderId"></label>
            <input asp-for="UrtBooking.MedarbejderId" class="form-control" />
            <span asp-validation-for="UrtBooking.MedarbejderId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UrtBooking.Beskrivelse"></label>
            <input asp-for="UrtBooking.Beskrivelse" class="form-control" />
            <span asp-validation-for="UrtBooking.Beskrivelse" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UrtBooking.StartDate"></label>
            <input type="date" id="start-date" asp-for="UrtBooking.StartDate" class="form-control" />
            <span asp-validation-for="UrtBooking.StartDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UrtBooking.EndDate"></label>
            <input type="date" id="end-date" asp-for="UrtBooking.EndDate" onchange="dateChange()" class="form-control" />
            <span asp-validation-for="UrtBooking.EndDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UrtBooking.Duration"></label>
            <input type="date" id="date-deferent" asp-for="UrtBooking.Duration" class="form-control" />
            <span asp-validation-for="UrtBooking.Duration" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
        <a asp-page="BookingIndex" class="btn btn-secondary" style="width:150px;"> Back to List</a>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        dateChange = function () {
            const elem1 = document.getElementById('start-date').value;

            const elem2 = document.getElementById('end-date').value;

            const result = document.getElementById('date-deferent');

            if (elem1 == elem2) {
                result.value = 1;
                return;
            }
            if (elem1 > elem2) {
                alert("start date cannot be after end date!!!!");
                return;
            }

            const date1 = new Date(elem1);
            const date2 = new Date(elem2);

            // To calculate the time difference of two dates
            const Difference_In_Time = date2.getTime() - date1.getTime();

            // To calculate the no. of days between two dates
            const Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);

            //To display the final no. of days (result)

            result.value = Difference_In_Days;
        }
    </script>

}